@charset "utf-8";

/* ==========================================================================
   reset css
   ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  overflow-y: scroll;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
 input, textarea, {
 margin: 0;
 padding: 0;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th {
  text-align: left;
}
a:focus {
  outline: none;
}

/* ==========================================================================
   keyframes
   ========================================================================== */

.fadeInLeft {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInLeft;
 animation-name: fadeInLeft;
 visibility: visible !important;
}
@-webkit-keyframes fadeInLeft {
 0% { opacity: 0; -webkit-transform: translateX(20px); }
 100% { opacity: 1; -webkit-transform: translateX(0); }
}
@keyframes fadeInLeft {
 0% { opacity: 0; -webkit-transform: translateX(20px); -ms-transform: translateX(20px); transform: translateX(20px); }
 100% { opacity: 1; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
}

.fadeInUp {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInUp;
 animation-name: fadeInUp;
 visibility: visible !important;
}
@-webkit-keyframes fadeInUp {
 0% { opacity: 0; -webkit-transform: translateY(20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInUp {
 0% { opacity: 0; -webkit-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

.fadeInRight {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInRight;
 animation-name: fadeInRight;
 visibility: visible !important;
}
@-webkit-keyframes fadeInRight {
 0% { opacity: 0; -webkit-transform: translateX(-20px); }
 100% { opacity: 1; -webkit-transform: translateX(0); }
}
@keyframes fadeInRight {
 0% { opacity: 0; -webkit-transform: translateX(-20px); -ms-transform: translateX(-20px); transform: translateX(-20px); }
 100% { opacity: 1; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
}

/* ==========================================================================
   Base styles
   ========================================================================== */

body {
  max-width: 1500px;
  margin:auto;
  background: #fff;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  color: #666;
  word-break: break-all;
  word-wrap: break-word;
}
a {
  color: #666;
  cursor: pointer;
}
a:hover {
  color: #888;
  text-decoration: none;
}
img {
  vertical-align: middle;
}

/* ==========================================================================
   utility tool
   ========================================================================== */

/*
 * clearfix
 */

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
 *zoom:1;
}

/*
 * text
 */

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.boxCaption {
  color: #f6492c;
  font-size: 28px;
  font-weight: bold;
  line-height: 2.0;
}
.boxText {
  font-size: 24px;
  line-height: 2.0;
  margin-top: 40px;
}

/* ==========================================================================
   content styles
   ========================================================================== */

/*
 * layout
 */

.wrapper {
  width: 100%;
}
.wrapperContents {
  width: 740px;
  padding: 0 15px;
  margin: 0 auto;
}
.contents {
  padding: 30px 0;
}
.boxInner {
  width: 950px;
  position: relative;
  padding: 0;
  margin: 0 auto;
}
.contentsMain {
  position: relative;
  padding: 0px;
}

/*
 * header
 */

.header {
  background: #f6492c;
  color: #fff;
  padding: 12px 30px;
}
.header:before, .header:after {
  content: " ";
  display: table;
}
.header:after {
  clear: both;
}
.header {
 *zoom:1;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.header a:hover {
  color: #ffcec6;
}
.header .logo {
  float: left;
}
.header .logo img {
  height: 45px;
}
.header .menu {
  float: left;
  font-size: 13px;
  margin: 4px 0 0 20px;
}
.header .menu li {
  float: left;
  margin-right: 20px;
}
.header .menu li a {
  display: inline-block;
  padding: 8px 5px;
}
.menu p{
  display: inline-block;
  background: none;
  width: 120px;
  color: #fff;
  margin: auto;
  margin-top: -2px;
  border: 1px solid #FFF;
  font-size: 13px;
  text-decoration: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 15px;
  vertical-align: middle;
  text-align: center;
}

.menu p:hover{
  background: #f66850;
}

.header .sns {
  float: right;
  margin-top: 7px;
}
.header .sns li {
  float: right;
  margin-left: 30px;
}
.header .sns .call {
  font-size: 26px;
  margin-top: -9px;
  margin-right: 15px;
}


/*
 * footer
 */

.footer {
  border-top: 1px solid #eee;
  padding: 20px 30px 0;
}
.footer:before, .footer:after {
  content: " ";
  display: table;
}
.footer:after {
  clear: both;
}
.footer {
 *zoom:1;
}
.footer a {
  text-decoration: none;
}
.footer .menu {
  float: left;
  font-size: 13px;
}
.footer .menu li {
  float: left;
  margin-right: 30px;
}
.footer .copyright {
  font-size: 13px;
}
.footer .sns {
  float: right;
}
.footer .sns li {
  float: right;
  margin-left: 30px;
}
.footer .pagetop {
  text-align: center;
}
.footer .pagetop img {
  width: 80px;
}

/*
 * boxTitle
 */

#user .boxTitle {
background: url(../img/bg_user_boxtitle.jpg) center top no-repeat;
overflow: hidden;
display: none;
}
#shop .boxTitle {
background: url(../img/bg_shop_boxtitle.jpg) center top no-repeat;
display: none;
}
.boxTitle .contentsMain {
  min-height: 380px;
  position: relative;
}
#user .boxTitle .contentsMain {
  padding: 100px 15px 87px;
}
#shop .boxTitle .contentsMain {
  padding: 40px 15px 30px 15px;
  overflow: hidden;
}
.boxTitle .logo img {
  width: 450px;
}
.boxTitle .boxText {
  color: #fff;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  -webkit-text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  -moz-text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}
#user .boxTitle .boxText {
  font-size: 28px;
  line-height: 2.0;
  margin: 50px 0 70px;
}
#shop .boxTitle .boxText {
  font-size: 22px;
  line-height: 1.8;
  margin: 30px 0;
}
.boxTitle .boxText span {
  font-size: 16px;
  display: block;
  margin-top: 10px;
}
.boxTitle .boxTitleImg {
  position: absolute;
  max-height: 460px;
  right: 0;
  bottom: 0;
}
.boxTitle .boxTitleImg1 img{
  position: absolute;
  width: 23%;
  right: 210px;
  bottom: -22px;
  z-index: 1;
}
.boxTitle .boxTitleImg2 img{
  position: absolute;
  width: 23%;
  right: 35px;
  bottom: -15px;
}
.btnDownload {
  position: relative;
  z-index: 999;
}
.btnDownload li{
  display: inline;
  margin: 0 6px;
}
.btnDownload img {
  width: 160px;
}
#user .boxTitle .iconPoint {
  position: absolute;
  top: 150px;
  right: 280px;
}
#shop .boxTitle .iconPoint {
  margin-bottom: 30px;
}
.boxTitle .iconPoint img {
  height: 80px;
  width: auto;
}

/*
 * boxContact
 */

.boxContact {
  background: #E6E6E6;
  padding: 5px 0px 5px 0px;
  width: 100%;
  height: 40px;
  vertical-align: middle;
  overflow: hidden;
  display: none;
  text-align: center;
}

.boxContact .contentsMain{
  display: table;
  margin: auto;
  text-align: center;
  table-layout: fixed;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.boxContact .contactText{
  display: table-cell;
  margin: auto;
  font-size: 12px;
  width: 20%;
  vertical-align: middle;
  position: relative;
}

.boxContact .menu {
  display: table-cell;
  margin: auto;
  margin-left: -100px;
  margin-bottom: 20px;
  width: 64%;
  padding-left: 20px;
  vertical-align: middle;
}

.boxContact .menu li {
  width: auto;
  margin: auto;
  float: left;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  margin-left: 100px;
}

.open{
  font-size: 9px;
  margin-top: -7px;
}

.boxContact .menu .contactText {
  left: 20px;
  top: 10px;
  position: absolute;
}

.boxContact p{
  display: none;
  background: #f6492c;
  width: 80%;
  max-width: 450px;
  height: 50px;
  color: #fff;
  margin: auto;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 0;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  vertical-align: middle;
}

.boxContact p:hover{
  background-color: #f66850;
}

.boxContact .menu li a {
  display: inline-block;
  padding: none;
  text-decoration: none;
}


/*
 * boxMap
 */

.boxMap {
  background: #f8f7f4;
  min-height: 516px;
  position: relative;
  overflow: hidden;
  display: none;
}
.boxMap .contentsMain {
  position: relative;
  padding: 60px 15px;
}
.boxMap .boxHalf {
  margin-left: 40px;
  width: 470px;
  position: relative;
  z-index: 999;
  visibility: hidden;
}
.boxMap .boxHalf .icon {
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
}
.boxMap .boxHalf .icon img {
  width: 57px;
}
.boxMap .boxMapImg {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 0;
  }
.boxMap .boxCaption, .boxMap .boxText {
 -moz-text-shadow: 0px 0px 3px #FFF;
 -webkit-text-shadow: 0px 0px 3px #FFF;
 -ms-text-shadow: 0px 0px 3px #FFF;
 text-shadow: 0px 0px 3px #FFF;
}
}


/*
 * boxPic
 */


.boxPic .contentsMain {
 position: relative;
 padding: 100px 0 0;
}
.boxPic .boxHalf {
 padding-top: 80px;
 width: 420px;
 float: right;
 position: relative;
 z-index: 999;
 visibility: hidden;
}
.boxPic .boxCaption, .boxPic .boxText {
 -moz-text-shadow: 0px 0px 3px #FFF;
 -webkit-text-shadow: 0px 0px 3px #FFF;
 -ms-text-shadow: 0px 0px 3px #FFF;
 text-shadow: 0px 0px 3px #FFF;
}
.boxPic .boxPicImg {
 position: absolute;
 width: 30%;
 top: 0;
 left: -100px;
}

.boxPic {
  background: #f0f0ee;
  min-height: 420px;
  position: relative;
  overflow: hidden;
  display: none;
}



/*
 * boxSale
 */

.boxSale {
  background: #fff;
}
.boxSale .contentsMain {
  text-align: center;
  padding: 60px 0;
  visibility: hidden;
}
.boxSale .listSale {
 white-space: nowrap;
 margin: 60px 0 0 0;
}
.boxSale .listSale li {
  display: inline;
  margin: 0 15px;
}
.boxSale .boxSaleBottom {
  background: #f6492c;
  text-align: center;
  padding-bottom: 40px;
}
.boxofboxTextTel{
  text-align: center;
}

.boxSale .boxTextTel {
  color: #f6492c;
  font-weight: bold;
}
.boxSale .boxTextTel span {
  display: block;
}
.boxSale .boxTextTel .time {
  font-size: 14px;
}
.boxSale .boxTextTel a {
  width: 280px;
  color: #f6492c;
  text-decoration: none;
  display: block;
  padding: 12px 0;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  border: 2px solid #f6492c;
}


/*
 * boxUser
 */

.boxUser {
  background: url(../img/bg_boxuser.jpg) repeat;
  min-height: 645px;
  position: relative;
  overflow: hidden;
}
.boxUser .boxBg {
  height: 600px;
  background: url(../img/bg_boxuser_inner.png) center top no-repeat;
}
.boxUser .contentsMain {
  position: relative;
  padding: 60px 20px;
  visibility: hidden;
}
.boxUser .boxHalf {
  width: 430px;
  position: relative;
  z-index: 999;
}
.boxUser .boxHalf .icon {
  text-align: center;
  margin-bottom: 30px;
}
.boxUser .boxHalf .icon img {
  width: 57px;
}
.boxUser .boxUserImg {
  position: absolute;
  top: 50px;
  right: 0;
}

/*
 * boxDl
 */

.boxDl .contentsMain {
  text-align: center;
  width: 85%;
  padding: 60px 15px;
  margin: auto;
}
.boxDl .logo img {
  width: 400px;
}
.boxDl .boxText {
  color: #f6492c;
  width: auto;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
}
.boxDl .boxText span {
  font-size: 14px;
  display: block;
}

/*
 * boxHelp
 */

.boxHelp .contentsMain {
  padding: 60px 15px;
}
.boxHelp .boxTextTel {
  background-color: #FFF;
  margin-top: 20px;
  font-weight: bolder;
}
.boxHelp .boxTextTel span {
  display: block;
}
.boxHelp .boxTextTel .time {
  font-size: 14px;
}
.boxHelp .boxTextTel a {
  background-color: #FFF;
  width: 280px;
  color: #666;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 12px 15px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  border: 2px solid #ddd;
  margin: auto;
}

.boxHelp .boxTextTel a:hover {
  background-color: #DDDED3;
}

/*
 * boxInfo
 */

.boxInfo {
  width: 950px;
  margin: 0 auto;
}
.boxInfo .contentsMain {
  padding: 60px 28px;
}
.boxInfo .boxHelp {
 float: left;
}
.boxInfo .boxHelp .boxInner {
 width: 450px;
  padding: 0;
}
.boxInfo .boxDl {
 float: right;
}
.boxInfo .boxDl .boxInner {
  float: right;
  width: 450px;
  padding: 0;
}

/*
 * boxLink
 */

.boxLink {
  background: #f6f6f6;
}
.boxLink .contentsMain {
  text-align: center;
  padding: 40px 15px;
}
.boxLink .boxText {
  font-size: 18px;
  margin-top: 0
}
.boxLink .btn {
  text-align: center;
  margin-top: 20px;
}
.boxLink .btn a {
  background: #f6492c;
  width: 280px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 12px 0;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  margin: 0 auto;
}
.boxLink .btn a:hover {
 background: #f66850;
}

/*
 * teams/privacy
 */

.textTos .heading {
  color: #f6492b;
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 20px;
}
.textTos h2 {
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.textTos h3 {
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}
.textTos p {
  margin-bottom: 30px;
}
.textTos .textRight {
  text-align: right;
}
.textTos ul, .textTos ol {
  padding-bottom: 20px;
}
.textTos ul, .textTos ol.inner {
  margin-left: 25px;
}
.textTos ul li {
  list-style: disc;
  margin: 0 0 10px 20px;
}
.textTos ol li {
  list-style: decimal;
  margin: 0 0 10px 25px;
}
.textTos .listInner li {
  color: #333;
  font-weight: bold;
  list-style: none;
  margin-left: 0;
}
.textTos .listInner span {
  color: #666;
  font-weight: normal;
  display: block;
}
.textTos .listInner ul li {
  float: left;
  color: #666;
  font-weight: normal;
  list-style: circle;
  margin: 5px 0 0 20px;
}
.textTos .listInner ol {
  margin: -10px 0 10px 25px;
}
.textTos .listInner ol li {
  float: left;
  color: #666;
  font-weight: normal;
  list-style: decimal;
  margin: 5px 20px 0;
}
.textTos table {
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 40px;
}
.textTos table th, .textTos table td {
  width: 50%;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 8px 10px;
}
.textTos table th {
  background: #f6f6f6;
}
.textTos table ul {
  padding-bottom: 0;
}
.textTos table ul li {
  margin-bottom: 0;
}

/* ==========================================================================
   responsive
   ========================================================================== */

@media screen and (max-width:1280px) {

.boxTitle .boxTitleImg{
  position: absolute;
  right: 0;
  bottom: 0;
}


/*
 * boxMap
 */


/*
 * boxSale
 */

.boxSale .boxSaleBottom p {
 width: 100%;
}
.boxSale .boxSaleBottom p img {
 width: 100%;
}

}

@media screen and (max-width:1075px) {

.header .sns .call {
  display: none;
}

}

@media screen and (max-width:975px) {

/*
 * layout
 */

.wrapperContents {
  width: 100%;
  padding: 0;
  margin: 0;
}
.contents {
  padding: 30px 15px 0;
}
.boxInner {
  width: 100%;
  padding: 0;
  margin: 0;
}
.contentsMain {
  padding: 0 15px;
}

/*
 * header
 */


/*
 * footer
 */

.footer {
  padding: 15px 10px 0;
}
.footer .menu {
  float: none;
  text-align: center;
  margin-left: 10px;
}
.footer .menu li {
  float: none;
  display: inline;
  white-space: nowrap;
  margin-right: 10px;
}
.footer .sns {
  float: none;
  text-align: center;
  margin: 15px 30px 15px 0;
}
.footer .sns li {
  float: none;
  display: inline;
}
.footer .copyright {
  text-align: center;
  margin-bottom: 20px;
}

/*
 * boxTitle
 */

#user .boxTitle .iconPoint {
  top: 100px;
  right: 220px;
}*/

/*
 * boxMap
 */

.boxMap .contentsMain {
  position: relative;
  padding: 60px 20px;
}

/*
 * boxPic
 */

/*.boxPic .contentsMain {
  position: relative;
  padding: 180px 0 0;
}*/

/*
 * boxSale
 */

.boxSale .contentsMain {
  padding: 60px 20;
}
.boxSale .boxText {
  font-size: 23px;
}
.boxSale .listSale {
  margin: 40px 0 0 0;
}
.boxSale .listSale li {
  display: inline;
  margin: 0 10px;
}
.boxSale .listSale li img {
  width: 150px;
}

/*
 * boxUser
 */

.boxUser {
  min-height: 520px;
}
.boxUser .boxBg {
  height: 520px;
}
.boxUser .contentsMain {
  padding: 60px 20;
}
.boxUser .boxUserImg {
  top: 130px;
  right: 20px;
}
.boxUser .boxUserImg img {
  width: 380px;
}

/*
 * boxDl
 */



.boxDl .logo img {
  margin: auto;
  width: 320px;
}
.boxDl .btnDownload {
  text-align: center !important;
}
.boxDl .btnDownload li {
  display: inline;
}

/*
 * boxHelp
 */

.boxHelp .contentsMain {
  padding: 30px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.boxHelp .boxTextTel {
  margin-top: 20px;
}
.boxHelp .boxTextTel span {
  display: block;
}
.boxHelp .boxTextTel .time {
  font-size: 14px;
}
.boxHelp .boxTextTel a {
  margin: 0 auto 10px;
}

/*
 * boxInfo
 */

.boxInfo {
  width: 100%;
}
.boxInfo .contentsMain {
  margin: auto;
}
.boxInfo .boxHelp {
 float: none;
}
.boxInfo .boxHelp .boxInner {
 width: 100%;
}
.boxInfo .boxDl {
 float: none;
}
.boxInfo .boxDl .boxInner {
 width: 100%;
}

@media screen and (max-width:980px) {
.header .sns {
  display: none;
}

}

@media screen and (max-width:820px) {

/*
 * text
 */

.boxCaption {
  font-size: 20px;
}
.boxText {
  font-size: 16px;
  margin-top: 20px;
}

/*
 * header
 */

.header {
  padding-bottom: 5px;
}
.header .logo img {
  height: 36px;
}
.header .logo {
  float: none;
}
.header .menu {
  margin: 2px 0 0 5px;
  float: none;
}
.header .menu li {
  float: left;
  display: inline;
  margin-right: 5px;
}

/*
 * boxTitle
 */

.boxTitle .contentsMain {
  padding: 50px 20px;
}
.boxTitle .logo img {
  width: 350px;
}
#user .boxTitle .boxText {
  font-size: 24px;
  margin: 30px 0;
}
#shop .boxTitle .boxText {
  font-size: 20px;
  margin: 30px 0 40px;
}

.boxTitle .iconPoint img {
  margin-top: -30px;
  height: 60px;
  width: auto;
}

.btnDownload {
  text-align: left;
}
.btnDownload li{
  display: block;
  margin: 0 0.5px 10px;
}

.boxTitle .boxTitleImg {
  right: 10px;
  width: 60%;
  min-width: 40%;
  bottom: 0;
}

.boxTitle .boxTitleImg img {
 width: 100%;
 bottom: 0;
}

.boxTitle .boxTitleImg1 img{
  position: absolute;
  width: 26%;
  min-width: 140px;
  right: 85px;
  bottom: -22px;
  z-index: 1;
}
.boxTitle .boxTitleImg2 img{
  position: absolute;
  width: 26%;
  min-width: 140px;
  right: 5px;
  bottom: -15px;
}

/*
 * boxContact
 */

.boxContact .contentsMain {
  padding-left: 0;
  padding-right: 0;
}

.boxContact .contactText {
  font-size: 10px;
  left: 0;
  width: auto;
}

.boxContact .menu {
  right: 10px;
  width: auto;
  font-size: 10px;
  padding-left: 0;
  margin-left: 0;
}

.boxContact .menu li{
  margin-left: 20px;
  font-size: 13px;
}

.boxContact .menu .open{
  font-size: 7px;
  margin-top: -7px;
}
/*
 * boxMap
 */

.boxMap{
  min-height: 400px;
}

.boxMap .boxMapImg {
  right: 30px;
  width: 70%;
}

.boxMap .boxMapImg img{
  bottom: 0px;
  opacity: 0.4;
}

.boxMap .boxHalf .icon {
 width: 250px;
 text-align: center;
 margin-bottom: 20px;
}

/*
 * boxPic
 */

.boxPic {
  min-height: 330px;
}

.boxPic .boxPicImg {
  width: 500px;
  left: -50px;
}

.boxPic .boxHalf {
  width: 300px;
}

.boxPic .boxPicImg img {
  width: 100%;
  opacity: 0.4;
}

/*
 * boxSale
 */

.boxSale .contentsMain {
  padding: 30px 15px 30px 15px;
}
.boxSale .boxText {
  font-size: 16px;
}
.boxSale .listSale {
  white-space: normal;
}
.boxSale .listSale li {
  display: inline;
  margin: 0 18px;
}
.boxSale .listSale li img {
  width: 180px;
  margin-bottom: 20px;
}

/*
 * boxUser
 */

 .boxUser {
   height: inherit;
 }
 .boxUser .boxBg {
   height: auto;
 }
 .boxUser .contentsMain {
   padding: 40px 10;
 }
 .boxUser .boxHalf {
   width: 100%;
   text-align: center;
 }
 .boxUser .boxUserImg {
   width: 80%;
   max-width: 400px;
   margin: auto;
   position: inherit;
   top: auto;
   right: auto;
   margin-top: 30px;
 }

/*
 * boxLink
 */

.boxLink .boxText {
  font-size: 14px;
}

/*
 * boxDl
 */

.boxDl .boxText {
 margin: auto;
 width:auto;
 margin-top: 40px;
 margin-bottom: 20px;
 font-size: 16px;
}
.boxDl .boxText span {
 font-size: 12px;
 display: block;
}

/*
 * boxHelp
 */

.boxHelp .boxTextTel a {
  padding: 12px 0;
}

}

@media screen and (max-width:530px) {

/*
 * header
 */

.header .menu {
 float: none;
 text-align: center;
}

.header .menu li{
  float: none;
  text-align: center;
}
.menu p{
  display: none;
}

.header .logo {
  display: none;
}

.header .sns{
  display: none;
}


/*
 * boxTitle
 */

.boxTitle .contentsMain {
  text-align: center;
}
#user .boxTitle .contentsMain {
  padding: 30px 15px 80px 15px;
}
#shop .boxTitle .contentsMain {
  padding: 30px 15px 50px 15px;
}
.boxTitle .logo img {
  width: 240px;
  text-align: center;
}
#user .boxTitle .boxText {
  font-size: 22px;
}
#shop .boxTitle .boxText {
  font-size: 18px;
  margin: 20px 0 30px;
}
.boxTitle .boxTitleImg {
  right: 7px;
  bottom: -30px;
  width: 360px;
  height: 260px;
}
.boxTitle .boxTitleImg img {
 width: 89.4%;
}

.boxTitle .boxTitleImg1 img{
  position: absolute;
  width: 105px;
  min-width: 105px;
  right: 90px;
  bottom: -22px;
  z-index: 1;
}
.boxTitle .boxTitleImg2 img{
  position: absolute;
  width: 105px;
  min-width: 105px;
  right: 5px;
  bottom: -15px;
}

.btnDownload {
  text-align: left;
}
.btnDownload li{
  display: block;
  margin: 0 0.5px 10px;
}
#user .boxTitle .iconPoint {
  top: auto;
  right: auto;
  bottom: 30px;
  left: 30px;
}

/*
 * boxContact
 */

.boxContact {
  height: auto;
}

.boxContact .contactText {
  display: block;
  width: auto;
}

.boxContact .menu {
  width: auto;
  display: block;
  margin-bottom: 0;
  padding-left: 0;
}

.boxContact .menu li {
  float: none;
  margin-left: 0;
}

.boxContact .contentsMain {
  margin-bottom: 10px;
}

.boxContact p{
  display: inline-block;
  font-size: 20px;
  width: 60%;
  height: 40px;
}

/*
 * boxPic
 */

 .boxPic {
   min-height: inherit;
 }
 .boxPic .contentsMain {
   position: relative;
   padding: 30px 15px;
 }
 .boxPic .boxHalf {
   padding-top: 0;
   width: 100%;
   text-align: center;
   float: none;
 }
 .boxPic .boxHalf .icon {
   display: none;
 }
 .boxPic .boxPicImg {
   position: inherit;
   width: 100%;
   left: 0;
 }
 .boxPic .boxPicImg img {
   width: 100%;
   opacity: 1;
 }

/*
 * boxMap
 */

.boxMap {
  min-height: inherit;
}
.boxMap .contentsMain {
  position: relative;
  padding: 30px 15px;
  visibility: visible;
}
.boxMap .boxHalf {
  margin: auto;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 999;
  visibility: visible;
  display: none;
}
.boxMap .boxHalf .icon {
  display: none;
}
.boxMap .boxMapImg {
  position: inherit;
  width: 100%;
  right: auto;
}
.boxMap .boxMapImg img {
  width: 100%;
  opacity: 1.0;
}

/*
 * boxSale
 */

.boxSale .listSale li {
  display: inline;
  margin: 0 10px;
}
.boxSale .listSale li img {
  width: 150px;
}

/*
 * boxUser
 */

.boxUser {
  height: inherit;
}
.boxUser .boxBg {
  height: auto;
}
.boxUser .contentsMain {
  padding: 40px 10;
}
.boxUser .boxHalf {
  width: 100%;
  text-align: center;
}
.boxUser .boxUserImg {
  width: 80%;
  max-width: 400px;
  margin: auto;
  position: inherit;
  top: auto;
  right: auto;
  margin-top: 20px;
}
.boxUser .boxUserImg img {
  width: 100%;
}

/*
 * boxDl
 */


/*
 * boxLink
 */

.boxLink .contentsMain{
  padding: 30px 15px;
}

}

@media screen and (max-width:400px) {

/*
 * header
 */

.header .menu {
  font-size: 10px;
}

/*
 * text
 */

.boxCaption {
  font-size: 16px;
}
.boxText {
  font-size: 13px;
  margin-top: 20px;
}

/*
 * boxTitle
 */

.boxTitle .contentsMain {
  padding: 30px 15px 40px 15px;
}
#user .boxTitle .boxText {
  font-size: 16px;
  margin: 20px 0;
}
#shop .boxTitle .boxText {
  font-size: 14px;
  margin: 20px 0;
}
.boxTitle .boxText span {
  font-size: 9px;
}

.boxTitle .iconPoint img {
    margin-top: 0px;
    height: 60px;
    width: auto;
}

.boxTitle .boxTitleImg {
  right: -40px;
}
.boxTitle .boxTitleImg img {
  width: 75%;
}

.boxTitle .boxTitleImg1 img {
  right: 45px;
  min-width: 80px;
  width: 90px;
}
.boxTitle .boxTitleImg2 img {
  min-width: 80px;
  width: 90px;
}

/*
 * boxSale
 */

.boxSale .boxText {
  font-size: 14px;
}

.boxSale .listSale {
  margin: 20px 0 -30px 0;
}

.boxSale .listSale li {
  display: inline;
  margin: 0 10px;
}
.boxSale .listSale li img {
  width: 120px;
  margin-bottom: 20px;
}

/*
 * boxDl
 */

.boxDl .logo img {
  width: 280px;
}
.boxDl .btnDownload li {
  display: block;
}
.boxDl .boxText {
    font-size: 14px;
}
.boxDl .boxText span {
  font-size: 9px;
}


.boxHelp .boxTextTel .time {
    font-size: 9px;
}
}
