@charset "utf-8";

/* ==========================================================================
   reset css
   ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	overflow-y: scroll;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
 input, textarea, {
 margin: 0;
 padding: 0;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
a:focus {
	outline: none;
}

/* ==========================================================================
   Base styles
   ========================================================================== */

body{
  background: #fff;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  color: #666;
  word-break: break-all;
  word-wrap: break-word;
}
a{
  color: #333;
  cursor:pointer;
}
a:hover{
  color: #333;
  text-decoration: none;
}
img{
  vertical-align:middle;
}

/* ==========================================================================
   utility tool
   ========================================================================== */

/*
 * clearfix
 */

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom:1;
}

/*
 * text
 */

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* ==========================================================================
   content styles
   ========================================================================== */

/*
 * layout
 */

.wrapper {
  width: 100%;
}
.wrapperContents {
	width: 740px;
	padding: 0 15px;
	margin: 0 auto;
}
.contents {
  padding: 30px 0;
}

/*
 * teams/privacy
 */

.textTos .heading {
  color: #f6492b;
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 20px;
}
.textTos h2 {
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.textTos p {
  margin-bottom: 30px;
}
.textTos .textRight {
  text-align: right;
}
.textTos ul,
.textTos ol {
  padding-bottom: 20px;
}
.textTos ul li {
  list-style: disc;
  margin: 0 0 10px 20px;
}
.textTos ol li {
  list-style: decimal;
  margin: 0 0 10px 25px;
}
.textTos .listInner li {
  color: #333;
  font-weight: bold;
}
.textTos .listInner span {
  color: #666;
  font-weight: normal;
  display: block;
}
.textTos .listInner ul li {
  float: left;
  color: #666;
  font-weight: normal;
  list-style: circle;
  margin: 5px 0 0 20px;
}
.textTos table {
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 40px;
}
.textTos table th,
.textTos table td {
  width: 50%;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 8px 10px;
}
.textTos table th {
  background: #f6f6f6;
}
.textTos table ul {
  padding-bottom: 0;
}
.textTos table ul li {
  margin-bottom: 0;
}

/* ==========================================================================
   responsive
   ========================================================================== */

@media screen and (max-width:768px) {

.wrapperContents {
	width: 100%;
	padding: 0;
	margin: 0;
}
.contents {
  padding: 30px 15px 0;
}

}
